h1, h2, h3{
  text-align:center;
}
.header{
  
}
.content{
  	margin-left:300px;
  	margin-top:50px;
}
td,tr{
	background-color: white;
	text-align: right;
	vertical-align:center;
	border-collapse: collapse;
	border: 2px solid #E0E0E0;
}
th{
  background-color: #d3d3d3;
  text-align: right;
	vertical-align:center;
	border-collapse: collapse;
	border: 2px solid #E0E0E0;
}
#spreadsheet{
	width:600px;
	
}
.active{
	background-color:yellow;
}
